<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446721643622-9p1c8kvqh3a6o2h6pujq3k9j79luah3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446721643622-9p1c8kvqh3a6o2h6pujq3k9j79luah3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCF92HzL-YC4GJgRw5jgFdY-oBU5E7JIyw</string>
	<key>GCM_SENDER_ID</key>
	<string>446721643622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erayalparslan.KendoSenshu</string>
	<key>PROJECT_ID</key>
	<string>kendosenshu</string>
	<key>STORAGE_BUCKET</key>
	<string>kendosenshu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446721643622:ios:0997b063f60bd360</string>
	<key>DATABASE_URL</key>
	<string>https://kendosenshu.firebaseio.com</string>
</dict>
</plist>